html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.hero {
    // background: url(../images/hero-bg-img.jpg) no-repeat top right;
    height: 100vh;
    position: relative;

    &__img {
        background-size: cover;
        width: 100%;
        min-width: 400px;
        height: auto;
        z-index: -10;
        position: absolute;
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 18.5rem;
    }

    &__title {
        font-size: 6.4rem;
        font-weight: 900;
        text-transform: uppercase;
        width: 50%;
    }

    &__subtitle {
        font-family: Montserrat, sans-serif;
        font-size: 3.2rem;
        font-weight: 900;
    }
    &__filter {
        font-size: 1.8rem;
        font-weight: 600;

        &-form {
            display: flex;
            width: fit-content;
            background-color: #fff;
            padding: 1.8rem;
        }
        button {
            background-color: #003458;
            border: none;
            height: 76px;
            padding: 18px;
        }

        input,
        select {
            font-size: 1.8rem;
            font-weight: 400;
            border: none;
            background-color: #F2F9FB;
            padding: 2.8rem 12.3rem 2.2rem 6.6rem;
            margin-right: 2.4rem;
            color: #333;
            &::selection {
                color: #333;
            }
            &::placeholder {
                color: #333;
            }
        }
    }
}

.header__nav-list {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
}

.header__nav-item {
    margin-left: 4rem;
}

.header__nav-link {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}