$main: #003458;
$cecondary: #82CDE5; 


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.hero {
    // background: url(../images/hero-bg-img.jpg) no-repeat top right;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__img {
        background-size: cover;
        width: 100%;
        min-width: 400px;
        height: auto;
        z-index: -10;
        position: absolute;
    }
    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 6.4rem;
        font-weight: 900;
        text-transform: uppercase;
        width: 50%;
        background-color: #F2F9FB;
        padding: 15rem 2rem 0;
    }

    &__subtitle {
        font-family: Montserrat, sans-serif;
        font-size: 3.2rem;
        font-weight: 900;

        background-color: #F2F9FB;

        margin-bottom: 18.2rem;
        width: 50%;
    }
    &__filter {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 17.5rem;

        &-form {
            display: flex;
            width: fit-content;
            background-color: #fff;
            padding: 1.8rem;
        }
        button {
            background-color: $main;
            border: none;
            height: 76px;
            padding: 18px;
        }

        input,
        select {
            font-size: 1.8rem;
            font-weight: 400;
            border: none;            
            padding: 2.4rem 12.3rem 2.2rem 0;            
            color: #333;
            background-color: inherit;
            &::selection {
                color: #333;
            }
            &::placeholder {
                color: #333;
            }
        }

        input {
            width: 13.1rem;
        }

        select option {
            width: 11.1rem;
        }
    }

    &__input, &__select {
        &-container {
            display: flex;
            width: 100%;
            align-items: center;
            background-color: #F2F9FB;
            margin-right: 2.4rem;
        }
    }

    .icon {
        padding: 2.4rem;
        min-width: 2.4rem;
        text-align: center;
    }
}

.header__nav-list {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
}

.header__nav-item {
    margin-left: 4rem;
}

.header__nav-link {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}